{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}About Page {% endblock %}
{% block content %}
<style>
.large-text {
	font-size: 24px; /* Adjust the value as needed */
}
  p{
	  text-indent: 10%;
  }
</style>
<h1 class="text-center">About</h1>
<p class="large-text mb-3">Welcome to my website, where you can input any stock symbol and get the predicted closing price. At its core, this website serves as a gateway to predictive stock analysis. The magic behind the site is powered by an LSTM (Long Short-Term Memory) neural network. I chose to use ab LSTM over other neural network models because of its ability to store past information. This ability to store previous information allows the LSTM to delve into the intricate patterns and trends of stock data, learning from historical information to project future closing prices for any stock symbol you desire. Although this model is not perfect and any stocks bought based on these predictions are done at the user's own risk.</p>
<p class="large-text  mb-3">Users can not only view predicted prices but can personalize their accounts. Users can curate a portfolio of stocks that they have an eye on. The data displayed on their portfolio performance page will be the predicted value of the portfolio vs. the actual value of the portfolio, so users can see how well the site has predicted values based on the stocks they have in their portfolio.</p>
<p class="large-text mb-3">One other interesting detail about this site is the benchmark page. The benchmark page uses how the LTM performed while training and displays an RMSE value. For those who don't know what RMSE is, it stands for Root Mean Square Error and is used to calculate the model's performance. It calculates the residuals' standard deviation, showing the average difference between actual and predicted values.</p>
{% endblock %} 
