{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Stocks Page {% endblock %}
{% block content %}
<ul>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger {{ message.tags }}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
</ul>
<form method="post" class="px-2">
  {% csrf_token %}
  {{form|crispy}}
    <div class="submit_button float-start">
      <input type="submit" class="btn" name="Submit" value="Submit">
  </div>
</form>
{% if user.is_authenticated %}

<form method="post" class="px-2">
  {% csrf_token %}
  <div class="add_to_button float-end">
    <input type="submit"  name = "add to portfolio" value="add to portfolio">
  </div>
</form>
{%else%}
<div class="px-2">
  <button class="add_to_button float-end">
    <a href="/login/">add to portfolio</a>
  </button>
</div>
{%endif%}
{% if company_name == "Stock Name not found" %}
<h1 class="text-center">{{stocks}}</h1>
{% else %}
<h1 class="text-center">{{company_name}} ({{stocks}})</h1>
{%endif%}
{{graph|safe}}
<h2 class="text-center">Predicted Closing Price For Tomorrow:</h2>
<h3 class="text-center">{{predict}} USD</h3>
{% if user.is_authenticated %}

{%endif%}
{% endblock %}