{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Stocks Page {% endblock %}
{% block content %}
<ul>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger {{ message.tags }}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
</ul>
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn btn-success" name="Submit" value="Submit">
</form>
{% if user.is_authenticated %}

<form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary btn-lg float-end" name = "add to portfolio" value="add to portfolio">
</form>
{%else%}
    <a  class="btn btn-primary btn-lg float-end" href="/login/">add to portfolio
      </a>

{%endif%}
{% if company_name == "Stock Name not found" %}
<h1 class="text-center">{{stocks}}</h1>
{% else %}
<h1 class="text-center">{{company_name}} ({{stocks}})</h1>
{%endif%}
{{graph|safe}}
<h2 class="text-center">Predicted Price For Tomorrow:</h2>
<h3 class="text-center">{{predict}} USD</h3>
{% if user.is_authenticated %}

{%endif%}
{% endblock %}