{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Portfolio Page {% endblock %}
{% block content %}
<div class="row">
  {% for key, values in stock_data.items %}
    <div class="col-md-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">{{ key }}</h5>
                <p class="card-text">{{ values }}</p>
          </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
