services:
  web:
    env_file:
      - .env
    build: .
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    command: bash -c "source /code/my_venv/bin/activate && cd capstone_website && gunicorn -b 0.0.0.0:8000 --timeout 120 capstone_website.wsgi:application"
